<div ng-include="'components/navbar/navbar.html'"></div>

<div ng-show='tried' class='well'>
    <h1>Not yet implemented</h1>
    <p>The form was successfully submitted, but it isn't tied to the backend yet</p>
</div>


<div class="container-fluid">
    <section class="container">
        <div class="container-page">
            <div class="col-md-5 well form-alone">
                <h3 class="dark-grey form-title">Login</h3>
                <form ng-submit='login()'>
                    <div class="form-group col-lg-12">
                        <label>Email</label>
                        <input type="email" class="form-control" ng-model='email'>
                    </div>

                    <div class="form-group col-lg-12">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" ng-model='password'>
                    </div>

                    <div class="form-group col-lg-6">
                        <button type="submit" class="btn btn-primary" ng-click='signup()'>Login</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
</div>
