@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';
@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.form-title {
    padding-left: 15px;   
    font-weight: bold;
}
.container-page {
    padding-top: 100px;
}
.navbar-default .navbar-brand {
    color: #8BA7FF;
    letter-spacing: -1px;
    font-weight: bold;
}
.navbar-default .navbar-nav .active a {
    background-color: #A3B9FF;
}
.accompany-text {
    margin-top: 37px;
}

// injector
@import 'login/login.less';
@import 'main/main.less';
@import 'signup/signup.less';
// endinjector
