.hours {
    margin-top: 30px;
}
.tour {
    padding: 0px;
    margin: 2px;
    .title {
        margin: 2px;
        font-size: 18px;
        height: 30px;
    }
    .event {
        // width: 100%;
        padding: 10px;
    }
}
