
    <div id="buttonNav" class="navbar navbar-default navbar-static-top" style="position: relative" ng-app="myApp"  ng-controller="ButtonController as buttons">
        <ul class="nav navbar-nav">
        <li><a  class="navbar-default .navbar-nav" ng-click="Calendar()">Calendar</a></li>
        <li><a  class="navbar-default .navbar-nav" ng-click="TripView()">Trip View</a></li>
        <li><a  class="navbar-default .navbar-nav" ng-click="ResourceView()">Resource View</a></li>
        <li><a  class="navbar-default .navbar-nav" >Add Tour (does nothing right now)</a></li>
        </ul>
    </div>
