<div id="buttonNav" style="position: relative">
    <button type="button" class='btn btn-primary' ng-click="setVisible('calendar')">Calendar</button>
    <button type="button" class='btn btn-primary' ng-click="setVisible('trip')">Trip View</button>
    <button type="button" class='btn btn-primary' ng-click="setVisible('resource')">Resource View</button>
    <button type="button" class='btn btn-primary' ng-click="setVisible('tour')" id="Modal">Add Tour (does nothing right now)</button>
    <div id="dialog" title="Basic dialog">
      <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
    </div>
</div>